
@import "../dtd/current/waybar.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @yellow;

  background-color: @background;
}

label {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 11pt;

  color: @foreground;
}

image {
  color: @blue;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @green;
}
