@define-color hot #fab387;
@define-color normal #74c7ec;
@define-color dimmed #6c7086;
@define-color background #181825;
@define-color active #a6e3a1;

* {
  color: @dimmed;
  background-color: @background;
}

#workspaces button.active label {
  color: @active;
}

#clock {
  font-weight: bold;
}

#bluetooth {
  font-size: 11pt;
}

#battery, #bluetooth, #clock, #custom-power-menu, #cpu, #network, #power-profiles-daemon.balanced, #pulseaudio {
  color: @normal;
}

#power-profiles-daemon {}

/* Performance Power Profile */
#power-profiles-daemon.performance {
  color: @hot;
}

/* Power Saver Power Profile */
#power-profiles-daemon.power-saver {
  color: @active;
}
