@define-color hot #fab387;        /* Peach */
@define-color warm #F5E0DC;       /* Rosewater */
@define-color normal #74c7ec;     /* Sapphire */
@define-color dimmed #6c7086;     /* Overlay0 */
@define-color background #181825; /* Mantle */
@define-color active #a6e3a1;     /* Green */

* {
  color: @dimmed;
  background-color: @background;
}

#workspaces button.active label {
  color: @active;
}

#clock {
  
  color: @dimmed;
}

/* I think this looks better just a wee bit larger. */
#bluetooth {
  font-size: 11pt;
}

/* Other modules. */
#battery, #bluetooth, #custom-power-menu, #cpu, #network, #power-profiles-daemon.balanced, #pulseaudio {
  color: @normal;
}

/* Performance Power Profile */
#power-profiles-daemon.performance {
  color: @hot;
}

/* Power Saver Power Profile */
#power-profiles-daemon.power-saver {
  color: @active;
}
