/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #01070a;
    --color01: #a96d2f;
    --color02: #5d7f63;
    --color03: #87804e;
    --color04: #2895A3;
    --color05: #966f4c;
    --color06: #368B8D;
    --color07: #9F9F84;
    --color08: #636a6d;
    --color09: #d4903d;
    --color10: #7da580;
    --color11: #aca663;
    --color12: #48bcce;
    --color13: #be9364;
    --color14: #54b2b4;
    --color15: #c5c6a2;
}
