@define-color bg #01070a;
@define-color fg #9F9F84;
@define-color gray1 #5d7f63;
@define-color gray2 #636a6d;
@define-color gray3 #2895A3;
@define-color gray4 #87804e;
@define-color gray5 #966f4c;
@define-color fg_bright #c5c6a2;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}