
[Desktop Entry]
Name=Karakeep (Web)
Comment=Launch Karakeep in browser App Mode
Exec=chromium --ozone-platform=wayland --app=https://karakeep.snork.co
Icon=/home/tylerd/.local/share/icons/hicolor/48x48/apps/Karakeep.png
Terminal=false
Type=Application
Categories=Notes, Bookmarks, Homelab;
StartupWMClass=Chromium
