[Desktop Entry]
Name=Plex (Web)
Comment=Launch Plex in Brave App Mode
Exec=chromium --ozone-platform=wayland --app=https://media.snork.co:32400/web/index.html#!/
Icon=Plex
Terminal=false
Type=Application
Categories=AudioVideo;Video;Media;
StartupWMClass=Chromium
