[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Netflix
Exec=omarchy-launch-webapp https://netflix.com
Terminal=false
Type=Application
Icon=/home/tylerd/.local/share/applications/icons/Netflix.png
StartupNotify=true
